.list {
  display: flex;

  .item {
    flex: 1;

    .title {
      color: #666;
    }

    .count {
      font-weight: 700;
      color: black;
      font-size: 22px;
    }
  }
}

.table-list {
    display: flex;
    margin-top: 24px;

    .left {
      flex: 1;
      margin-right: 12px;
    }
    .right {
      flex: 1;
      margin-left: 12px;
    }
}
